@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Original content.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #a6a39f;
  background: #000;
  overflow-x: hidden;
}

a {
  color: #a6a39f;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.images {
  width: 80%;
  margin: 0 auto 56px;
}

.grid-item, .grid-sizer {
  width: 33.3333%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1280px) {
  .grid-item, .grid-sizer {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .grid-item, .grid-sizer {
    width: 100%;
    margin-bottom: 30px;
  }
}

.images .image {
  display: block;
  padding: 0 15px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}

.image img {
  width: 100%;
  display: block;
}

.images .image:hover {
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  transition: 400ms ease-in-out;
  z-index: 10000;
}

.modalClose {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  transition: 300ms ease-in-out;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  z-index: 300;
}

.modalClose svg {
  width: 100%;
  height: 100%;
}

.modalClose:hover {
  background: #fff;
}

.modalClose:hover line {
  stroke: #000;
}

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modalContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalShow {
  left: 0;
}

.modalControls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 200;
  padding: 0 32px;
}

.modalControls svg {
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.modalControls svg:hover path {
  fill: #fff;
}

.modalControls svg:hover line {
  stroke: #000;
}

.modalControls #control-prev {
  transform: rotate(180deg);
}

.modalImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 80vh;
}

.modalImage img {
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: center;
}

/* Original navigation.css */
a {
  text-decoration: none;
  color: #a6a39f;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 24px 45px;
  text-align: center;
  background-color: #EE3526;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .message {
    height: 44px;
    padding: 0;
  }
}

.message.hidden {
  display: none;
}

.messageContent {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2.4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.messageClose {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background: transparent;
  color: #000;
  font-size: 29px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .messageClose {
    top: auto;
    right: 35px;
  }
}

.messageClose::after {
  display: inline-block;
  content: "\00d7";
}

header {
  position: relative;
  margin: 56px 0;
  display: flex;
  justify-content: center;
}

a.button.bookings {
  position: fixed;
  top: 108px;
  right: 10%;
  z-index: 990;
  margin-top: 0;
}

footer {
  padding: 128px 0 0 0;
  width: 80%;
  margin: 0 auto 0px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.copyw {
  width: 80%;
  margin: 0 auto 0px;
  padding: 50px 0 0 0;
}

footer h4 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

footer h5 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2px;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 840px;
}

footer > div:last-of-type {
  gap: 24px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
}

footer .btns {
  display: flex;
  flex-direction: column;
}

a.button {
  padding: 8px 24px;
  border-radius: 24px;
  background: #ebe3d7;
  color: #000;
  font-size: 13px;
  letter-spacing: 2px;
  width: max-content;
  font-weight: 600;
}

a.button:hover {
  background-color: #EE3526;
}

.button.alt {
  margin: 12px 0 0;
  background-color: #EE3526;
}

a.button.alt:hover {
  background-color: #ebe3d7;
}

@media screen and (max-width: 1280px) {
  footer > div {
    max-width: 560px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  footer > div {
    max-width: 100%;
  }
}

@media screen and (max-width: 568px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
}

main {
  position: relative;
  z-index: 1;
}
