@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f4;
  --foreground: #0f3b48;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
